---
# tasks file for apigee-opdk-setup-postgres-standby
- name: Stop postgres
  shell: '{{ apigee_service }} apigee-postgresql stop'

- name: Remove Postgres data directory
  file:
    path: '{{ apigee_installation_home }}/data/apigee-postgresql/pgdata'
    state: absent

- name: Postgres replication standby
  shell: '{{ apigee_service }} apigee-postgresql setup-replication-on-standby -f {{ opdk_installation_config_file }}'
  register: results

- name: Validate posgres replication standby
  shell: '{{ apigee_service }} apigee-postgresql postgres-check-standby'
