---
# tasks file for apigee-opdk-setup-postgres-standby
- block:
  - name: Clear the pgdata folder
    file:
      path: "{{ apigee_postgresql_data_dir }}"
      state: absent

  - name: Postgres replication standby
    shell: '{{ apigee_service }} apigee-postgresql setup-replication-on-standby -f {{ opdk_installation_config_file }}'
    register: replication_output

  rescue:
    - name: Determine if max_wal_senders value must be updated
      set_fact:
        update_max_wal_settings: "{{ replication_output.stdout | search('number of requested standby connections exceeds max_wal_senders') }}"

    - name: Postgres replication standby
      shell: '{{ apigee_service }} apigee-postgresql setup-replication-on-standby -f {{ opdk_installation_config_file }}'
      register: replication_output

- name: Ensure component is started
  shell: "{{ apigee_service }} apigee-postgresql start"

- name: Validate postgres replication standby
  shell: '{{ apigee_service }} apigee-postgresql postgres-check-standby'
